<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>    
<body>
    <header>
        <h1>Event Management System</h1>
    </header>
    <main>
        <section id="operations">

            <div class="operation">
                <h2>Add New Customer</h2>
                <!-- html form gets consumed by js that in turn calls python -->
                <form id="addCustomerForm">
                    <input type="text" id="customerFirstName" placeholder="First Name" required>
                    <input type="text" id="customerLastName" placeholder="Last Name" required>
                    <input type="text" id="customerEmail" placeholder="Email" required>
                    <input type="text" id="customerCredit" placeholder="Credit Info" required>
                    <button type="submit">Add Customer</button>
                </form>
            </div>
            <div id="customers_container" class="operation">
                <h2>Customers Table</h2>
            </div>
            
            <div class="operation">
                <h2>Add New Event</h2>
                <form id="addEventForm">
                    <input type="text" id="eventName" placeholder="Event Name" required>
                    <input type="text" id="eventType" placeholder="Type" required>
                    <input type="time" id="eventTime" required>
                    <input type="date" id="eventDate" required>
                    <input type="number" id="eventCapacity" placeholder="Capacity" required>
                    
                    <input type="number" id="VIP_Capacity" placeholder="Number of VIP seats" required>
                    <input type="number" id="FrontRow_Capacity" placeholder="Number of front row seats" required>
                    <input type="number" id="Normal_Capacity" placeholder="Number of back row or side row seats" required>
                    
                    <input type="number" step="0.01" id="VIP_Price" placeholder="Price (in euro) of VIP seats" required>
                    <input type="number" step="0.01" id="FrontRow_Price" placeholder="Price (in euro) of front row seats" required>
                    <input type="number" step="0.01" id="Normal_Price" placeholder="Price (in euro) of back row or side row seats" required>
                    <button type="submit">Add Event</button>
                </form>
            </div>
            <div id="events_container" class="operation">
                <h2>Events Table</h2>
            </div>


            <div class="operation">
                <h2>Book Tickets</h2>
                <form id="bookTicketsForm">
                    <select id="bookEventIdselect" name="event_select" required>
                        <option value="noEvent">No event</option>
                    </select>
                    <input type="text" id="customerId" placeholder="Customer email" required>
                    <input type="text" id="numOfTickets" placeholder="Number of tickets" onchange="update_tickets_chooser()" required>
                    <div id=bookTicketsFormdiv></div>
                    <button type="submit">Book Tickets</button>
                </form>
                <div id="bookingResult"></div>
            </div>
            <div id="tickets_container" class="operation">
                <h2>Tickets Table</h2>
            </div>
 

            <div class="operation">
                <h2>Cancel Reservation</h2>
                <form id="cancelReservationForm">
                    <input type="number" id="reservationId" placeholder="Reservation ID" required>
                    <button type="submit">Cancel Reservation</button>
                </form>
                <div id="cancelResult"></div>
            </div>
            <div id="Reservations_container" class="operation">
                <h2>Reservations Table</h2>
            </div>
 
            <div class="operation">
                <h2>Search Available Seats</h2>
                <form id="searchSeatsForm">
                    <input type="number" id="eventId" placeholder="Event ID" required>
                    <button type="submit">Search</button>
                </form>
                <div id="availableSeatsResult"></div>
            </div>

            <div class="operation">
                <h2>View Event Statistics</h2>
                <button id="viewTicketsLeft">See Tickets Left</button>
                <button id="viewProfits">See Event Profits</button>
                <button id="mostPopularEvent">Most Popular Event</button>
                <button id="highestProfitEvent">Event with Highest Profit</button>
                <div id="eventStatisticsResult"></div>
            </div>
        </section>
    </main>
</body>
</html>

